{% load static %}
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li>
        <h5>Legal</h5>
    </li>
    <li>
        <a target="_blank" class="black-text" href="#">
            <i class="material-icons">info_outline</i>Privacy Policy
        </a>
    </li>
    <li>
        <a target="_blank" class="black-text" href="#">
            <i class="material-icons">account_balance</i>Terms of Service
        </a>
    </li>
    <li>
        <h5>Social</h5>
    </li>
    <li>
        <a target="_blank" class="black-text" href="#!">
            <i class="fa fa-instagram"></i>Instagram
        </a>
    </li>
    <li>
        <a target="_blank" class="black-text" href="#!">
            <i class="fa fa-twitter"></i>Twitter
        </a>
    </li>
    <li>
        <a target="_blank" class="white-text z-depth-3 btn-large waves-effect waves-light red" href="#!">Buy me coffee</a>
    </li>
    <small class="grey-text grey-text-lighten-1">&copy; 2020 Samkelo Rocks (Pty) Ltd.</small>
</ul>
