{% load static %}
<!-- Navbar start -->
<div class="navbar-fixed">
    <nav>
        <div class="white nav-wrapper">
            <a style="margin-top: 0.5%; margin-left: 1%;" href="{% url 'index' %}" class="left brand-logo">
                <img src="{% static 'images/logo@50px.png' %}" alt="Hormme Logo">
            </a>
            <ul  style="margin-right: 1%;" class="right hide-on-med-and-down">
                <li><a class="red-text lighten-2" href="{% url 'index' %}">Home</a></li>
                <li><a class="red-text" href="#">News</a></li>
                <li><a class="red-text" target="_blank" href="https://ncov2019.live/">Covid19 Stats</a></li><!-- Dropdown Trigger -->
                
              
            </ul>
        </div>
    </nav>
</div>
<!-- Navbar end -->