{% extends 'base.html' %}
{% load static %}

{% block title %}Hormme - Latest Headlines{% endblock %}


{% block body %}
    {% if messages %}
        <script>
            $(document).ready(()=>{

                /* I'm definately not doing this right but I'm too lazy to 
                research how it's properly done. So for now this is how I'm gonna do it
                */
                {% for message in messages %}
                    M.toast({html: '{{ message }}'})
                {% endfor %}
            })
        </script>
    {% endif %}

    <br>

    <!-- Container start -->
    <div class="container">
        <h4 class="center">
            <b>The latest news headlines from all over the world.</b><br><br>
        </h4>
    </div>
    <!-- Container end  -->
    {% include 'news/article_cards.html' %}
    
{% endblock %}