{% extends 'base.html' %}
{% load static %}

{% block title %}Samkelo - After lockdown{% endblock %}

{% block stylesheet %}
<style>
    .instagram-btn {
        background-image: linear-gradient(to right, #E6002B, #D40060, #CD0077, #5900C0);
    }
</style>
{% endblock %}

{% block body %}
    {% if messages %}
        <script>
            $(document).ready(()=>{

                /* I'm definately not doing this right but I'm too lazy to
                research how it's properly done. So for now this is how I'm gonna do it
                */
                {% for message in messages %}
                    M.toast({html: '{{ message }}'})
                {% endfor %}
            })
        </script>
    {% endif %}

    <!-- Container start -->
    <div class="hide-on-med-and-down container">
        <h4 class="center">
            <b>COVID-19 has changed how we live our lives, isolating us from friends and family. I’ve collected post-quarantine aspirations from around the globe. What will you do after lockdown?</b><br><br>
        </h4>
        <div class="center">
            <a target="_blank" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fsamkelo.me%2F&ref_src=twsrc%5Etfw&region=follow_link&screen_name=vuyomsukwini&tw_p=followbutton" class="white-text z-depth-3 btn-large waves-effect waves-light blue"><i class="fa fa-twitter"></i> @vuyomsukwini</a>

            <a target="_blank" href="https://instagram.com/vuyosukwini" class="white-text z-depth-3 btn-large waves-effect waves-light instagram-btn"><i class="fa fa-instagram"></i> @vuyomsukwini</a>
        </div>

        <br>
        <br>
    </div>

    <div style="margin-top: 15%;" class="hide-on-large-only"></div>
    <!-- Container end  -->
    {% include 'posts/view/post.html' %}
    <!-- Container start -->
    <div class="hide-on-large-only container">
        <h5 class="center">
            <b>COVID-19 has changed how we live our lives, isolating us from friends and family. I’ve collected post-quarantine aspirations from around the globe. What will you do after lockdown?</b><br><br>
        </h5>
        <div class="center">
            <a target="_blank" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fsamkelo.me%2F&ref_src=twsrc%5Etfw&region=follow_link&screen_name=vuyomsukwini&tw_p=followbutton" class="white-text z-depth-3 btn-small waves-effect waves-light blue"><i class="fa fa-twitter"></i> Follow @vuyomsukwini</a>

        </div><br>
        <div class="center">

            <a target="_blank" href="https://instagram.com/vuyomsukwini" class="white-text z-depth-3 btn-small waves-effect waves-light instagram-btn"><i class="fa fa-instagram"></i> Follow @vuyomsukwini</a>
        </div>
        <br>
        <br>
    </div>
{% endblock %}